In [1]:
import nltk

In [2]:
paragraph = """ 
Google LLC is an American multinational technology company. 
 was founded in 1998 by Larry Page and Sergey Brin while they were Ph.D. 
 students at Stanford University in California. """
paragraph2="The Taj Mahal was commissioned in 1632 by the Mughal emperor, Shah Jahan "

In [3]:
# POS Tagging
words = nltk.word_tokenize(paragraph2)

In [4]:
words

['The',
 'Taj',
 'Mahal',
 'was',
 'commissioned',
 'in',
 '1632',
 'by',
 'the',
 'Mughal',
 'emperor',
 ',',
 'Shah',
 'Jahan']

In [5]:
tagged_words = nltk.pos_tag(words)

In [6]:
tagged_words

[('The', 'DT'),
 ('Taj', 'NNP'),
 ('Mahal', 'NNP'),
 ('was', 'VBD'),
 ('commissioned', 'VBN'),
 ('in', 'IN'),
 ('1632', 'CD'),
 ('by', 'IN'),
 ('the', 'DT'),
 ('Mughal', 'NNP'),
 ('emperor', 'NN'),
 (',', ','),
 ('Shah', 'NNP'),
 ('Jahan', 'NNP')]

In [7]:
# Named entity recognition
namedEnt = nltk.ne_chunk(tagged_words)

In [8]:
#Other libraries might get the job done

#https://towardsdatascience.com/named-entity-recognition-with-nltk-and-spacy-8c4a7d88e7da

In [9]:
namedEnt.draw()